<h2>Registration confirmation</h2>

Hi, please click on this link to confirm your account on the dashboard project

<a href="{{ url('check_register', {'token': token, 'username': username }) }}">account confirmation</a>