{% extends 'base.html.twig' %}

{% block title %}
    email confirmation
{% endblock %}

{% block body %}
    Merci de votre inscription, Vous allez recevoir un mail d'ici peut, n'hésitez pas a regarder vos spams

    <a href="{{ path('landing') }}">retourner à l'acceuil</a>
{% endblock %}